<ng-container *ngIf="streamData && streamLive; else noStream">
  <div class="container">
    <video class="author-video" *ngIf="streamLive && authorMode" [srcObject]="stream" [muted]="true" autoplay></video>
    <div class="video-controlls" *ngIf="showStartButton">
      <button (click)="startRecording()" mat-raised-button  color="primary">Start again</button>
    </div>
    <div *ngIf="!authorMode && (source || source2)" class="video-container">
      <video
        #video
        autofocus
        [tabindex]="isFirstVideo && isPlaying ? 0 : -1"
        [autoplay]="firstFrame"
        [style.opacity]="isFirstVideo ? 1 : 0"
        [src]="source"
        (click)="pause($event)"
        (play)="onPlay()"
        (keydown.space)="pause($event)"
        (loadeddata)="setTime($event)"
        (ended)="switchPlayer()"
        (timeupdate)="progress($event)"
      ></video>
      <video
        #video2
        [tabindex]="isFirstVideo && isPlaying ? 0 : -1"
        [style.opacity]="isFirstVideo ? 0 : 1"
        (timeupdate)="progress($event)"
        (ended)="switchPlayer()"
        (keydown.space)="pause($event)"
        (loadeddata)="setTime($event)"
        (click)="pause($event)"
        (play)="onPlay()"
        [src]="source2"
      ></video>
      <div *ngIf="loading" class="loader-overlay">
        <div class="loader"></div>
      </div>
      <div
        #player
        autofocus
        *ngIf="!isPlaying"
        tabindex="0"
        (click)="onLoad($event)"
        (keydown.space)="onLoad($event)"
        class="loader-overlay"
      >
        <mat-icon class="play">play_arrow</mat-icon>
      </div>
    </div>
    <div class="action-panel">
      <h2> {{ streamData.name }} </h2>
      <div class="stream-info">
        <div class="main-info">
          <p [routerLink]="['/profile', streamData.userId]">{{ streamData.userName }}</p>
          <strong>Viewers: {{ streamData.viewers }}</strong>
        </div>
        <div class="stream-controllers">
          <button *ngIf="streamLive && authorMode && stream" mat-raised-button (click)="stopStream()" color="accent">Stop stream</button>
          <button *ngIf="!authorMode && !reported" mat-raised-button (click)="reportStream()" id="report" color="accent">Report</button>
          <button
            mat-raised-button
            *ngIf="streamData.assignmentId"
            (click)="openInNewWindow(authorMode ? ['user-assignments' , streamData.planItemId] : ['/assignment', streamData.assignmentId])"
          >
            Assignment
          </button>
          <button *ngIf="!authorMode && !isSubscribes" mat-raised-button (click)="subscribe()" color="accent">Subscribe</button>
          <button *ngIf="!authorMode && isSubscribes" mat-raised-button (click)="unsubscribe()" color="primary">Unsubscribe</button>
        </div>
      </div>
    </div>

    <app-stream-chat
      class="chat"
      *ngIf="streamData && streamLive"
      [creator]="authorMode"
      [moderator]="isModerator"
      [authorId]="streamData.userId"
      [id]="currentStreamId"
    ></app-stream-chat>
  </div>
</ng-container>

<ng-template #noStream>
  <h2 class="not-found">This stream was ended or not exists</h2>
</ng-template>
