:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 25px;
}

.container {
  width: 100%;
  padding: 30px;
  max-width: 1500px;
}

.video-container {
  position: relative;
  width: 100%;
  height: 48vw;
  max-height: 1150px;
  margin-bottom: 15px;
}

.video-container video {
  cursor: pointer;
}

video:focus-visible {
  outline: 0;
}

.video-container video, .loader-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.loader-overlay {
  background: rgba(0, 0, 0, 0.53);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.play {
  color: #ffffff;
  font-size: 50px;
  height: fit-content;
  width: fit-content;
  cursor: pointer;
}

.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 20vw;
  height: 20vw;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.not-found {
  text-align: center;
  margin-top: 100px;
  font-size: 28px;
  text-transform: uppercase;
  color: #595959;
}

.author-video {
  width: 100%;
  height: 48vw;
  max-height: 1150px;
  margin: 0 auto;
  object-fit: cover;
}

.action-panel {
  width: 100%;
}

.stream-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stream-info p {
  margin-bottom: 0;
  font-size: 18px;
}

.stream-info strong {
  font-size: 18px;
}

.main-info {
  display: flex;
}

.main-info strong {
  margin-left: 25px;
}

.chat {
  margin-top: 25px;
  width: 100%;
  display: block;
}

.video-controlls {
  width: 50%;
  margin: 10px auto;
  display: flex;
  justify-content: space-around;
}

.stream-controllers button {
  margin-left: 10px;
}

app-loading {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
