<ng-container *ngIf="user">
  <form [formGroup]="form">
    <div class="action-panel" *ngIf="mode === 'me'" [class.centred]="role === 'admin'">
      <h2 *ngIf="role==='user'" >Profile of {{user.name}}</h2>
      <button mat-raised-button (click)="openStreamModal()" *ngIf="role==='user'" class="starter" color="primary">Start stream</button>
      <button mat-raised-button (click)="openAssignmentModal()"  *ngIf="role==='user'" class="starter" color="primary">Create assignment</button>
      <button mat-raised-button [routerLink]="'/course/create'" *ngIf="role==='user'" class="starter" color="primary">Create course</button>
      <button mat-raised-button (click)="logout()" class="logout" color="accent">Logout</button>
    </div>
    <div class="profile-container">
      <mat-list>
        <li>
          <h3>Name</h3>
          <p *ngIf="!editMode" id="display-name">{{ user.name }}</p>
          <mat-form-field *ngIf="editMode" class="example-full-width" appearance="fill">
            <mat-label>Name</mat-label>
            <input type="text"
                   autofocus
                   placeholder="Pick one"
                   aria-label="Name"
                   matInput
                   formControlName="name"
            >
          </mat-form-field>
        </li>
        <mat-divider></mat-divider>
        <li>
          <h3>Login</h3>
          <p>{{ user.login }}</p>
        </li>
        <mat-divider></mat-divider>
        <li>
          <h3>About</h3>
          <p id="display-about" *ngIf="!editMode">{{ user.about }}</p>
          <mat-form-field *ngIf="editMode" class="example-full-width" appearance="fill">
            <mat-label>About</mat-label>
            <input type="About"
                   placeholder="Pick one"
                   aria-label="About"
                   matInput
                   formControlName="about"
            >
          </mat-form-field>
        </li>
        <mat-divider></mat-divider>
        <li>
          <h3>Subscribers</h3>
          <p>{{ user.subscribers }}</p>
        </li>
      </mat-list>
    </div>
  </form>
  <app-loading></app-loading>
  <button *ngIf="!editMode && mode === 'me'" (click)="editMode = true" mat-raised-button class="edit-button" color="primary">Edit</button>
  <button
    *ngIf="mode === 'other' && !user.isSubscribed"
    (click)="onSubscribe()"
    mat-raised-button
    class="edit-button"
    color="primary"
  >
    Subscribe
  </button>
  <button
    *ngIf="mode === 'other' && user.isSubscribed"
    (click)="onUnsubscribe()"
    mat-raised-button
    class="edit-button"
    color="accent"
  >
    Unsubscribe
  </button>

  <div class="controlls-panel" *ngIf="editMode">
    <button mat-raised-button class="cancel-button" (click)="editMode = false" color="accent">Cancel</button>
    <button mat-raised-button class="save-button" (click)="onSubmit()" color="primary">Save</button>
  </div>

  <div class="streams">
    <ng-container *ngIf="mode === 'me'">
      <div class="list">
          <mat-select [formControl]="selectedStreams" class="select mat-elevation-z3">
            <mat-option
              [value]="'ended'">Ended
            </mat-option>
            <mat-option
              [value]="'active'">Active
            </mat-option>
            <mat-option
              [value]="'planed'">Planed
            </mat-option>
          </mat-select>
        <h2>Streams</h2>
        <mat-paginator
          *ngIf="total"
          [pageSize]="pageSize"
          [length]="total"
          [hidePageSize]="true"
          (page)="onPage($event)" aria-label="Select page">
        </mat-paginator>
        <mat-list>
          <mat-list-item
            (click)="clickHandler(stream.id)"
            class="mat-mdc-list-item-interactive"
            *ngFor="let stream of endedStreams">
            {{ stream.name }}
          </mat-list-item>
        </mat-list>
      </div>
    </ng-container>
    <div class="list" *ngIf="mode !== 'me' && activeStreams.length">
      <h2>Active streams</h2>
      <mat-list>
        <mat-list-item class="mat-mdc-list-item-interactive" *ngFor="let stream of activeStreams" [routerLink]="['/stream', stream.id]">
          {{ stream.name }}
        </mat-list-item>
      </mat-list>
    </div>

    <ng-container *ngIf="mode === 'me'">
      <div class="list">
        <h2>My courses</h2>
        <mat-paginator
          [pageSize]="pageSize"
          [length]="totalCourses"
          [hidePageSize]="true"
          (page)="onCoursePage($event)" aria-label="Select page">
        </mat-paginator>
        <mat-list>
          <mat-list-item
            class="mat-mdc-list-item-interactive"
            *ngFor="let course of myCourses"
            [routerLink]="['/course', course.id]">
            {{ course.name }}
          </mat-list-item>
        </mat-list>
      </div>
      <div class="list assignments">
        <h2>My assignments</h2>
        <mat-paginator
          [pageSize]="pageSize"
          [length]="totalAssignments"
          [hidePageSize]="true"
          (page)="onAssignmentPage($event)"
          aria-label="Select page"
        >
        </mat-paginator>
        <mat-list>
          <mat-list-item
            class="mat-mdc-list-item-interactive"
            *ngFor="let assignment of myAssignments"
            [routerLink]="['/assignment', assignment.id]">
            <span>{{ assignment.name }}</span>
            <div class="controls">
              <button mat-raised-button color="primary" (click)="editAssignment(assignment.id, $event)">Edit</button>
              <button mat-raised-button color="warn" (click)="deleteAssignment(assignment.id, $event)">Delete</button>
            </div>
          </mat-list-item>
        </mat-list>
      </div>
    </ng-container>
  </div>
</ng-container>

