:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 15px;

}

form  {
  width: 50%;
}

.select {
  padding: 10px;
  background: lightgray;
}

h2 {
  text-align: center;
  margin-bottom: 0;
  display: flex;
  align-items: center;
}

.profile-container {
  box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%), 0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%);
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 0 15px;
  min-height: 50px;
}
li * {
  margin: 0;
}


li p {
  word-wrap: break-word;
  margin-left: 15px;
}

li h3 {
  font-weight: bold;
}

li h3 {
  max-width: 60%;
}

.edit-button {
  margin-top: 15px;
}

.controlls-panel{
  width: 30%;
  display: flex;
  justify-content: space-between;
}

.action-panel {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto 20px;
  flex-wrap: wrap;
  gap: 15px;
}

.centred {
  justify-content: center;
}

:host ::ng-deep .assignments .mat-mdc-list-item-unscoped-content {
  display: flex;
  justify-content: space-between;
}

:host ::ng-deep .assignments .mat-mdc-list-item-unscoped-content span {
  width: 100%;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

:host ::ng-deep .assignments .mat-mdc-list-item-unscoped-content .controls {
  display: flex;
  gap: 15px;
}

.streams {
  display: grid;
  grid-template-columns: repeat(2, 40%);
  justify-content: space-between;
  width: 50%;
  margin-top: 25px;
  gap: 25px;
}
